@import "./scss/reset";
@import "./scss/mixins";
@import "./scss/variable";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

body{
    font-family: 'Concert One', cursive;
    background-color: $backgroundColor;
    padding-bottom: 2rem;
}

p{
    font-family: 'Noto Sans', sans-serif;
}